
.top-nav {
    width: 100%;
    height: 88px;
    color: var(--tokyo-blue);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.matter-container {
  display: flex;

      align-items: center;
    justify-content: center;
}
.left-matter {
  display: flex;
  justify-content: center;
}

.nav-logo {
  padding: 10px;
  height: 68px;
}

.nav-title {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: center;
  align-self: center;
  font-size: 32px;
  position: relative;
  text-decoration: none;
  color: var(--tokyo-blue);
}

.by-line {
  position: absolute;
  font-size: 12px;
  color: #4a4a4a;
  top: 62px;
}

.center-matter,
.right-matter {
  display: none;
}

.mobile-menu-container {
  display: initial;
}

.menu-toggle {

 opacity: 0;
visibility: hidden;
}
.menu-toggle.open {
 opacity: 1;
 visibility: visible;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  z-index: 1;
  background-color: red;
opacity: 0;
visibility: hidden;
  transition: 0.5s;

}
.mobile-menu.open {
  width: 100px;
 opacity: 0.8;
 visibility: visible;
 
}

.mobile-menu-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}



/* Extra small devices (portrait phones, less than 576px)
/* No media query for `xs` since this is the default in Bootstrap

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .left-matter {
    justify-content: left;
  }
  .nav-logo {
    padding: 10px 20px;
    height: 68px;
  }
  .by-line {
    position: unset;
  }
  .matter-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .right-matter {
    justify-content: right;
    padding: 20px;
    align-self: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
.center-matter,
.right-matter {
  display: initial;
}
.mobile-menu-container {
  display: none;
}
.matter-container {
  width: 100%;
  justify-content: space-between;
}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}